.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.form-container{
    height: 100vh;

    color: #FFFFFF;
    width: 100%;
    margin: 0px;
    padding: 0;
    margin: 0;
}
.wrapper-form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient( rgb(40, 82, 101),rgb(84, 55, 73));
    height: 100vh;
}
.title-name{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 70px;
    line-height: 82px
}
.label{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}
.input{
    height: 60px;
    width: 100%;
    background: none;
    border: 2px solid white;
    color:white;
}
.btn{
    height: 60px;
    width: 230px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.btn-container{
    padding-top: 16px;
    width: 582px;
}
.btn.login-page {
    text-align: center;
    height: 60px;
    padding: 0px;
    align-items: center;
    outline: none;
}
a{
    padding: 0px;
}